Flask==0.10.1
pymongo==2.6.3
Flask-PyMongo==0.3.0
flask-restful
gunicorn

################################################
# DO NOT remove/modify the dependencies below. #
# They are requirements of the deploy process. #
################################################
Jinja2
coverage
docutils
nose
nosy
pep8
pep257
pylint
