{% extends "base.html" %}

{% block title %}
    {{info.name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/base_test.css">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.css">
{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="/modules">All Modules</a></li>
  <li><a href="/{{info.module}}">{{info.module}}</a></li>
</ol>

    <div class="summary">
        <div class="page-header">
            <h3>{{info.name}}</h3>
        </div>
        <p>Current Status: {{info.status}}</p>
        <p>Total Tests: {{results.count()}}</p>
        <p>Average Running Time: {{avg}}s</p>
            Flappy : 

            <form class="form-horizontal" action="/{{info.module}}/{{info.name}}" method=post>

            <input id="myswitch" type="checkbox" name="flappyswitch" onclick="this.form.submit();"
            {% if info.flappy %}
              checked='checked'
            {% endif %}>
            </form>
    </div>
    <div class="history">
        <h2>History</h2>

        {% for result in results %}
        {% if result.status == "pass" %}
          {% set panel = "panel-success"%}
        {% else %}
          {% set panel = "panel-danger"%}
        {% endif %}
          <div class="panel {{panel}}">
            <div class="panel-heading">
              <span class="left">{{result.time}}</span>
              <span class="right">{{result.duration}}s</span>
            </div>
            {% if result.status == "fail" %}
            <div class="panel-body">
              <div class="stacktrace">{{result.trace}}</div>
              <a href="#" onclick="toggle_visibility('screenshot-1');">Show/Hide Screenshot</a>
              <div id="screenshot-1" class="screenshot" style="display: none;">
                  <iframe src="{{result.screenshot}}" alt=""></iframe>
              </div>
            </div>
              
            {% endif %}
          </div>
        {% endfor %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/bootstrap-switch.js"></script>
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        };
    //-->
    </script>
    <script type="text/javascript">
      $("#myswitch").bootstrapSwitch();
      $("#myswitch").on("switchChange.bootstrapSwitch", function (e, data) {
      this.form.submit();
  });
    </script>

{% endblock %}