{% extends "base.html" %}

{% block title %}
    Resultor
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>all tests</h2>
  <form class="form-horizontal" action="/" method=post>
  <div class="sort">sort by
    <!-- Single button -->
    <div class="btn-group">
      <div class="control-group">
        <div class="controls">

        {% set sort_options = [
            ('time', 'Time'),
            ('name', 'Name'),
            ('average', 'Average Duration'),
            ('duration', 'Last Duration'),
            ('status', 'Status')
        ] -%}
        {% set directions = [
            ('1', 'Ascending'),
            ('-1', 'Descending')
        ] -%}
          <select id="sort" name="sort" class="input-medium" onchange="this.form.submit();">
            {% for value, name in sort_options %}
              <option value="{{value}}" {% if sort==value %}
                selected 
              {% endif %}>{{name}} </option>
            {% endfor %}
          </select>
          <select id="direction" name="direction" class="input-medium" onchange="this.form.submit();">
            {% for value, name in directions %}
              <option value="{{value}}" {% if direction==value %}
                selected 
              {% endif %}>{{name}} </option>
            {% endfor %}
          </select>
        </div>
      </div>

    </div>
  </div>
  </form>
</div>
<div class="list-group">
  {% for test in results %}
    {% if test.status == "pass" %}
      {% set lgi = "list-group-item-success"%}
    {% elif test.status == "flappy" %}
      {% set lgi = "list-group-item-warning"%}
    {% else %}
      {% set lgi = "list-group-item-danger"%}
    {% endif %}

    <a href="/{{test.module}}/{{test.name}}" class="list-group-item {{lgi}}">
      <span class="left">
        {{short_string(test.name)}}
      </span>
      <span class="right">
          <span class="duration"><strong>duration: </strong>{{test.duration}}s</span>
          <span class="average"><strong>average: </strong>{{test.average}}s</span>
      </span>
    </a>
    
  {% endfor %}
</div>
{% endblock %}