{% extends "base.html" %}

{% block title %}
    {{module}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="/modules">All</a></li>
</ol>

<div class="page-header">
  <h2>{{module}}</h2>
</div>
<div class="list-group">
  {% for test in tests %}
    {% if test.status == "pass" %}
      {% set lgi = "list-group-item-success"%}
    {% elif test.status == "flappy" %}
      {% set lgi = "list-group-item-warning"%}
    {% else %}
      {% set lgi = "list-group-item-danger"%}
    {% endif %}

    <a href="/{{module}}/{{test.name}}" class="list-group-item {{lgi}}">
      <span class="left">
            {{test.name}}
      </span>
      <span class="right">
          <span class="total"><strong>total: </strong>{{test.count}}</span>
          <span class="average"><strong>average: </strong>{{test.average}}</span>
      </span>
    </a>
    
  {% endfor %}
</div>
{% endblock %}