.right {
    display: block;
    float: right;
    width: 50%;
    margin-left: 10px;
    text-align: right;
}

.right span {
    margin: 10px;
}

.stacktrace {
    white-space: pre-wrap;
    word-wrap: break-word;
}

iframe{
    height: 600px;
    width: 100%;
}

h3{
      /*width: 250px;*/
  white-space: nowrap;
  overflow: scroll;
}